nav {
  margin: 0 !important;
  padding: 0 !important;
}

li.hhlink :hover {
  color: red !important;
}

.feat-img {
  width: 100%;
}

.card-text {
  font-size: 0.9rem;
}

.bg-light {
  background-color: #f4f5f7 !important;
}

.card {
  border: none !important;
  background-color: transparent;
}

.card-body {
  padding: 1rem 0 !important;
}

.mainmenu > * {
  font-size: 1.4vw;
}

.text-danger {
  color: red !important;
}

.flin {
  color: gray !important;
  border-right: 1px solid lightgray;
  font-size: 14px;
}

.tss {
  line-height:14px !important;
}

.row90 {
  width: 90% !important;
}

.w200 {
  width: 200px;
}

.ed11 {
  position: absolute;
  left: 50vw;
}

.border-special {
  border-top: 1px solid lightgray;
}

.w100 {
  width: 100% !important;
}

.bgred {
  background-color:red !important;
}

.bbbtttnnn {
  color: rgb(255, 197, 176);
  font-size: 30px ;
}

.pos-rel {
  position:relative;
}

.margin0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}